.label-bg-aqua {
    background-color: #21c1d6;
}

.label-bg-green {
    background-color: #008000;
}

.label-bg-red {
    background-color: #B22222;
}

.label-bg-yellow {
    background-color: #DAA520;
}