#vacancy_search {
    color: #39104e;
}

#vacancy_search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #39104e;
    opacity: 60; /* Firefox */
  }

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header-list-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icon {
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
}

.header-list {
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.section-input{
    color: white;
    font-size: 30px;
    /* background-image: url('https://images.hdqwalls.com/wallpapers/space-rocket-minimal-bu.jpg'); */
    /* https://www.ecopetit.cat/wpic/mpic/96-966623_white-gradient-wallpaper-phone.jpg */
    /* background-size: initial; */
    background-color: #39104e;
    /* background-color: #44131a; */
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-input-title {
    color: white;
    padding: 0 19.5rem 8px 0    ;
    font-family: Arial, Helvetica, sans-serif;
}

.container-section-input {
    display: flex;
}

.button-section-input {
    background-color: #1e64e5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif   ;
    padding: 14px 40px;
    border-radius: 2px;
    cursor: pointer;
}

.section-form {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.section-form-filtros {
    text-align: center;
}

.title-contrato {
    text-align: left;
    padding: 12px 0;
}

.title-filtro{
    font-weight: 900;
    font-size: 20px;
}

.section-form-list-filtro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-list {
    width: 30%;
    color: white;
    background-color: #363636;
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
}
.container-input {
    width: 100%;
    margin-top: 38px;
}

.button-list-input {
    width: 30%;
    color: white;
    background-color: #363636;
    border-radius: 2px;
    cursor: pointer;
}

.container-input-form {
    display: flex;
    padding-bottom: 10px;
}

.search {
    width: 70%;
}

.section-form-title {
    background-color: black;
    color: white;
    padding: 25px 40px;
}

.section-form-content {
    padding: 15px 40px 15px;
}

.section-form-subtitle {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 10px;
}

.section-form-list {
    padding: 15px 40px 15px;

}

.form-list {
    padding: 15px;
    border-top: solid 1px  gray;
    font-weight: 600;
}

.footer {
    display: flex;
    color: white !important;
    font-weight: 300 !important;
    background-color: #39104e !important;
}

.footer-list {
    display: flex;
    cursor: pointer;
    padding-left: 112px;
}

.logo-footer {
    margin: 0 auto;
}

.section-button-header{
    color: #ffffff;
    background-color: indigo;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.section-accessibility-options {
    justify-content: center;
    display: flex;
}

.header-list-itens-accessibility {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-list-accessibility {
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#contrast-dot-white{
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
}

#contrast-dot-black{
    height: 35px;
    width: 35px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
}

.header-link{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: medium;
}

.btn-indigo{
    background-color: #39104e !important;
}

.social-media{
    text-align: center;
}

.social-media > a{
    color: white;
}

.social-media > a:hover{
    color: #1e88e5;
}

.accessibility-buttons{
    margin-left: 14rem;
}

.success-message{
    color: green;
    font-weight: 600;
}